@model Article

<div class="card mb-3">
    <div class="card-body">
        <h4 class="card-body">@Model.Title</h4>
        <p class="card-text">@Model.Summary</p>
        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-primary">Read More</a>
    </div>
</div>