@model IEnumerable<Article>

@{
    ViewData["Title"] = "Articles";
    Layout = "_Layout";
}

<h2>Articles</h2>

@foreach (var article in Model)
{
    <partial name="_ArticleCard" model="article" />
}